<!DOCTYPE html>
<html>
<head>
  <title>RailsNeo4jExample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container" ng-app='app' ng-controller='UsersCtrl' ng-init='get_users()'>
	  <%= yield %>
	</div>
</body>
</html>